.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .content {
    flex: 1;
    padding-right: 7%; /* Add padding to the right for spacing */
  }
  
  .animated-text {
    background: linear-gradient(315deg, #ffffff 0%, #274060 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s infinite;
    font-size: 2rem;
    animation: typewriter 3s steps(30, end) 1s 1 normal both, blinkTextCursor 500ms steps(30, end) infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .background-image {
    flex: 1;
    text-align: right;
    transform: rotateY(-10deg) scale(1.1); /* Rotate and scale for 3D effect */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
  }
  
  .background-image img {
    height: 500px;
    width: 600px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8); /* Shadow for 3D effect */
  }
  
  .background-image:hover {
    transform: rotateY(0deg) scale(1.2); /* Enhance 3D effect on hover */
  }
  